body, html {
	background: #111111;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	 position: relative;
}
h1 {
	margin: 0;
	padding: 0;
}

.Box{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	/*/border: #191919 solid 5px;*/
	padding: 5%;
 position: absolute;
  top: 50%;
}
#form1{
	margin-right: auto;
	margin-left: auto;
	width: 50%;
    height: 100%;
}
input {
	font-size: 24px;
	width: 100%;
	height: 50px;
	background: #191919;
	color: #fff;
	text-align: center;
	border: white;
	border-radius: 20px;
}
.obj {
	width: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto 
}
